In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv('..\spreadsheet_data\i16WB_filtered.csv')
# Filter out slabs that were replaced during time period
df = df[df['Replaced'].notnull() == False]
df = df[df['Replaced and Broken'].notnull() == False]
df = df[df['2014'] != 'R']

df = df.drop(columns=['Replaced', 'Replaced and Broken', 'Interstate', 'Direction', 'Year Replaced', 'Possibly OR'])
df.head()

     MP From      MP To  2014 Slab ID  BY Length (ft) 2014 2015 2016 2017 2018
0  22.000000  21.997566             3           12.85   NC   NC   NC   NC   NC
1  21.997566  21.994286             4           17.32   NC   NC   NC   NC   NC
2  21.994286  21.991244             5           16.06   NC   NC   NC   NC   NC
3  21.991244  21.987169             6           21.52   NC   NC   NC   NC   NC
4  21.987169  21.982809             7           23.02   NC   NC   NC   NC   NC

In [5]:
#Grouping data by mile marker (every mile). Data will be put into bins with (m, m + 1] where m is an integer and a mile marker.

mini_df = df[df['MP From'] > 21]

mini_df.head()

AttributeError: 'DataFrame' object has no attribute 'show'